html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #161616;
  scroll-behavior: smooth;
}

.header-wrapper {
  height: 95vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0,
      rgba(22, 22, 22, 0.9) 45%,
      #161616
    ),
    url(/assets/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.header-wrapper > .container,
.header-wrapper > .container > .row,
.profile-wrapper > .container,
.profile-wrapper > .container > .row {
  height: inherit;
}
.header-content > .display-4 {
  margin-bottom: 1rem;
}

.header-content {
  color: #f0f0f0;
  text-align: center;
  margin-top: -12rem;
}
a {
  text-decoration: none;
}

.socials {
  padding-top: 20px;
}

.social-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  background-color: #e2e2e2;
  margin-left: 5px;
  color: #161616;

  cursor: pointer;
}

.social-header:hover {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #000;
  color: #fff;
}

footer > .container {
  padding-top: 2rem;
}

footer .footer-wrapper {
  height: 95%;
}

footer .footer-grid {
  padding-top: 5rem;
}

.socials > .social {
  height: 5rem;
}

.socials > .social > a {
  display: flex;
  color: #e2e2e2;
}
.socials > .social > a > .name {
  padding-left: 2rem;
}

table tr {
  cursor: pointer;
}

.td-action {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-top: 1.5rem;
}

.secondary-text {
  font-size: 0.8rem;
  color: #e2e2e2;
}

.secondary-text.caption {
  margin-top: 7rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.section > .secondary-text {
  margin: 1rem auto 1.2rem;
}

.divider {
  height: 2px !important;
  width: 15%;
  color: #eee;
  margin: 1rem auto 2rem 0.3rem;
}

@media (min-width: 992px) {
  .nav-item {
    margin: auto 1.5rem;
  }
}

@media (max-width: 576px) {
  .td-action .btn {
    padding: 0.175rem 0.55rem;
  }
  .td-id {
    display: none;
  }
}

.btn {
  padding: 0.395rem 0.75rem 0.31rem;
}

.code-view {
  background-color: #2e2e2e;
  color: #fff;
  padding-top: 2rem;
  padding-left: 2rem;
  margin: 2rem 0;
  border: 2px solid #161616;
  border-radius: 5px;
}
