<footer id="footer">
  <div class="container">
    <div class="row footer-wrapper">
      <div class="col-lg"></div>
      <div class="col-lg footer-grid">
        <div class="socials">
          <div class="social align-items-center">
            <a
              class="align-items-center"
              target="_blank"
              href="https://github.com/a-rayamajhi"
              title="GitHub"
            >
              <div class="social-header">
                <i class="fa fa-github"></i>
              </div>

              <div class="name">GitHub</div>
            </a>
          </div>
          <div class="social">
            <a
              class="align-items-center"
              target="_blank"
              href="https://twitter.com/_anilRM"
              title="Twitter"
            >
              <div class="social-header">
                <i class="fa fa-twitter"></i>
              </div>

              <div class="name">Twitter</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg footer-grid">
        <div class="section">
          <div>About</div>
          <div class="secondary-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
            voluptates?
          </div>
        </div>
        <hr class="divider" />
        <div class="section">
          <div>Contacts</div>
          <div class="secondary-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
            voluptates?
          </div>
        </div>

        <hr class="divider" />
        <div class="section">
          <div>FAQs</div>
          <div class="secondary-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
            voluptates?
          </div>
        </div>
      </div>
    </div>
    <p class="secondary-text caption">© Company 2020</p>
  </div>
</footer>
