<%- include('header'); -%>

<body>
  <%- include('navbar'); -%>

  <main style="height: 70rem">
    <div class="container">
      <br /><br /><br />
      <%- include('list'); -%>
    </div>
  </main>

  <%- include('footer'); -%>

  <script>
    window.scroll({
      top: window.innerHeight - 50,
      behavior: "smooth",
    });
  </script>
</body>
