<%- include('header'); -%>

<body>
  <%- include('navbar'); -%>

  <main style="height: 70rem">
    <div class="container">
      <br /><br /><br />
      <div class="display-4"><%= title %></div>
      IN PROGRESS
    </div>
  </main>

  <%- include('footer'); -%>
</body>
